@font-face {
  font-family: 'Quark-Light';
  src: url('../fonts/Quark-Light.otf');
}

@font-face {
  font-family: 'Quark-Bold';
  src: url('../fonts/Quark-Bold.otf');
}

@font-face {
  font-family: 'Aquawax-Black';
  src: url('../fonts/Aquawax-Black.ttf');
}

@mixin titulos{
  color: #5d5d5d;
  text-transform: uppercase;
  font-family: 'Aquawax-Black';
  font-size: 24px;
  margin: 30px 0;
}

$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@import "navbar";

.container-fluid{
  padding: 0;

  #myCarousel{
    .item{
      img{
        width: 100%;
      }
    }
  }

  #sec-1{
    min-height: 68vh;
    padding: 0;
    display: flex;
    flex-direction: row;
    #cont{
      padding: 21px 90px 21px 180px;
      h2{
        @include titulos;
      }
      p{
        line-height: 200%;
        font-family: Arial, Helvetica, sans-serif;
        padding-bottom: 20px;
      }
    }
    
    #bg{
      min-height: inherit;
      background-image: url(../images/ogrupo.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top left;
    }
  }

  #sec-2{
    min-height: 50vh;    
    background-image: url(../images/agendabg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top left;
  }
  
  #sec-3{
    min-height: 50vh;    
    #esquerda{
      min-height: inherit;
      background-color: #00438a;
    }
    #direita{
      min-height: inherit;
      background-color: #004c8e;
    }
  }

  #sec-4{
    min-height: 50vh;
    padding-bottom: 21px;
    -webkit-box-shadow: 0px 6px 8px -4px rgba(0, 0, 0, 0.015);
    -moz-box-shadow: 0px 6px 8px -4px rgba(0, 0, 0, 0.015);
    box-shadow: 0px 6px 8px -4px rgba(0, 0, 0, 0.015);
    .cont{
      padding: 0 180px;
      margin: 0;
      h3{
        color: #5d5d5d;
        text-transform: uppercase;
        font-family: 'Aquawax-Black';
        margin: 30px 0;
      }
      #degrade{
        padding: 26px 30px 12px 30px;
        color: white;
        font-family: 'Quark-Light';
        text-transform: uppercase;
        letter-spacing: 8px;
        font-size: 1.4em;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00efd4+0,0f77a3+31,0777a2+45,ffffff+72 */
        background: #00efd4; /* Old browsers */
        background: -moz-linear-gradient(45deg, #00efd4 0%, #0f77a3 31%, #0777a2 45%, #ffffff 72%); /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, #00efd4 0%,#0f77a3 31%,#0777a2 45%,#ffffff 72%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, #00efd4 0%,#0f77a3 31%,#0777a2 45%,#ffffff 72%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00efd4', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      }
      #form-wrapper{
        margin: 30px 0;
        .col-md-12, .col-md-6 {padding-left: 0;}
        .btn, .form-control{
          border-radius: 0;
        }
        .form-group{
          font-family: 'Quark-Light';
          letter-spacing: 1px;
        }
        
      }
    }
    
  }
  #sec-5{
    min-height: 50vh;
    padding: 21px 0; 
    .cont{
      padding: 0 180px;
      margin: 0;
      h3{
        color: #5d5d5d;
        text-transform: uppercase;
        font-family: 'Aquawax-Black';
        margin: 30px 0;
      }
      #esquerda{
        .contatos{
          #telefone{
            background: url(../images/telefone.png) center left no-repeat;
            background-size: auto 95%;
          padding-left: 32px;
          }
          #email{
            background: url(../images/email.png) center left no-repeat;
            background-size: auto 95%;
            padding-left: 32px;
          }
          #site{
            background: url(../images/site.png) center left no-repeat;
            background-size: auto 95%;
            padding-left: 32px;
          }
          
          
        }
      }
      #direita{
        #mapa{
          height: 500px;
        }
      }
    }
  }

}