@font-face {
  font-family: 'Quark-Light';
  src: url('../fonts/Quark-Light.otf');
}

@font-face {
  font-family: 'Quark-Bold';
  src: url('../fonts/Quark-Bold.otf');
}

@font-face {
  font-family: 'Aquawax-Black';
  src: url('../fonts/Aquawax-Black.ttf');
}

@mixin titulos{
  color: #5d5d5d;
  text-transform: uppercase;
  font-family: 'Aquawax-Black';
  font-size: 24px;
  margin: 30px 0;
}

$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.row{
  margin: 0;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@import "navbar";

.container-fluid{
  padding: 0;

  #myCarousel{
    .item{
      img{
        width: 100%;
      }
    }
  }

  #sec-1{
    min-height: 68vh;
    padding: 0;
    display: flex;
    flex-direction: row;
    #cont{
      padding: 21px 90px 21px 180px;
      h2{
        @include titulos;
      }
      p{
        line-height: 200%;
        font-family: Arial, Helvetica, sans-serif;
        padding-bottom: 20px;
      }
    }
    
    #bg{
      min-height: inherit;
      background-image: url(../images/ogrupo.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top left;
    }
  }

  #sec-2{
    min-height: 50vh;  
    background-image: url(../images/agendabg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top left;
    padding: 21px 180px 58px 180px;

    h2{
      @include titulos;
    }
    .cartao-container{
      margin-bottom: 24px;
      padding: 0 24px 0 0; 
      .cartao{
        border-radius: 0;
        .cartao-heading{
          border-radius: 0;
          text-align: center;
          text-transform: uppercase;
          font-family: 'Quark-Light';
          color: white;
          padding: 16px;
          margin-bottom: 5px; 
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00f0d5+0,0087a8+41,00428a+100 */
          background: #00f0d5; /* Old browsers */
          background: -moz-linear-gradient(45deg, #00f0d5 0%, #0087a8 41%, #00428a 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(45deg, #00f0d5 0%,#0087a8 41%,#00428a 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(45deg, #00f0d5 0%,#0087a8 41%,#00428a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f0d5', endColorstr='#00428a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
          #dia{
            font-family: 'Quark-Light';
            font-weight: 900;
            font-size: 58px;
            line-height: 100%;
            margin: 0;
          }
          #mes{
            font-size: 12px;
            line-height: 100%;
            margin: 0;
            letter-spacing: 5px;
          }
        }
        .cartao-body{
          border-radius: 0;
          padding: 16px;
          border: 1px solid transparent;
          -moz-border-image: -moz-linear-gradient(top, #00f0d5 0%, #00428a 100%);
          -webkit-border-image: -webkit-linear-gradient(top, #00f0d5 0%, #00428a 100%);
          border-image: linear-gradient(to bottom, #00f0d5 0%, #00428a 100%);
          border-image-slice: 1;
          p{
            font-family: 'Quark-Light';
            font-size: 14px;
            letter-spacing: 3px;
            text-transform: uppercase;
            text-align: center;
            color: #5d5d5d;
            margin: 0;
            
          }
        }
      }
      
    }

    
  }
  
  #sec-3{
    display: flex;
    flex-direction: row;
    min-height: 50vh;    
    color: white;
    #esquerda{
      padding: 21px 21px 40px 180px;
      min-height: inherit;
      background-color: #00438a;
      h2{
        @include titulos;
        color: white;
      }
      #negocio-desc{
        padding: 4px;
        background: linear-gradient(to right, #00f0d5 ,#00428a);
        border-radius: 8px;
        p{
          font-family: Arial, Helvetica, sans-serif;
          letter-spacing: 1px;
          background: #00438a;
          display: block;
          padding: 24px;
          border-radius: 6px;
          margin: 0;
        }
      }
      
      #baixe{
        font-size: 24px;
        text-transform: uppercase;
        font-family: 'Aquawax-Black';
        background: url(../images/baixe.png) center left no-repeat;
        background-size: auto 100%;
        padding-left: 50px;
        margin: 30px 0 0 25px;
        a{
          color: white;
          &:link {
            text-decoration: none;
          }
          &:hover{
            opacity: 0.8;
          }
        }
        
      }
    }
    #direita{
      min-height: inherit;
      padding: 45px 180px 45px 50px;
      background-color: #004c8e;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#004f8f+0,00448b+31,00438a+100 */
      background: -moz-linear-gradient(left, #004f8f 0%, #00448b 31%, #00438a 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #004f8f 0%,#00448b 31%,#00438a 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #004f8f 0%,#00448b 31%,#00438a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004f8f', endColorstr='#00438a',GradientType=1 ); /* IE6-9 */
      
      p{
        letter-spacing: 1px;
      }
      h3{
        font-size: 18px;
      }
      .area-atuacao{
        .area-titulo{
          color: #00ecd3;
          margin: 0;
        }
        .area-desc{
          letter-spacing: 1px;
          margin-bottom: 24px;
        }
      }
    }
  }

  #sec-4{
    min-height: 50vh;
    padding-bottom: 21px;
    -webkit-box-shadow: 0px 6px 8px -4px rgba(0, 0, 0, 0.015);
    -moz-box-shadow: 0px 6px 8px -4px rgba(0, 0, 0, 0.015);
    box-shadow: 0px 6px 8px -4px rgba(0, 0, 0, 0.015);
    .cont{
      padding: 12px 180px;
      margin: 0;
      h3{
        color: #5d5d5d;
        text-transform: uppercase;
        font-family: 'Aquawax-Black';
        margin: 30px 0;
      }
      #degrade{
        padding: 26px 30px 12px 30px;
        color: white;
        font-family: 'Quark-Light';
        text-transform: uppercase;
        letter-spacing: 8px;
        font-size: 1.4em;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00efd4+0,0f77a3+29,0777a2+45,eaf1f6+77,ffffff+87 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00efd4+0,0f77a3+36,0777a2+53,eaf1f6+77,ffffff+87 */
background: #00efd4; /* Old browsers */
background: -moz-linear-gradient(45deg, #00efd4 0%, #0f77a3 36%, #0777a2 53%, #eaf1f6 77%, #ffffff 87%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #00efd4 0%,#0f77a3 36%,#0777a2 53%,#eaf1f6 77%,#ffffff 87%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #00efd4 0%,#0f77a3 36%,#0777a2 53%,#eaf1f6 77%,#ffffff 87%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00efd4', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      }
      #form-wrapper{
        margin: 30px 0;
        .col-md-12, .col-md-6 {padding-left: 0;}
        .btn, .form-control{
          border-radius: 0;
        }
        .form-group{
          font-family: 'Quark-Light';
          letter-spacing: 1px;
        }
        
      }
    }
    
  }
  #sec-5{
    min-height: 50vh;
    padding: 21px 0; 
    .cont{
      padding: 0 180px;
      margin: 0;
      h3{
        color: #5d5d5d;
        text-transform: uppercase;
        font-family: 'Aquawax-Black';
        margin: 30px 0;
      }
      #esquerda{
        padding-left: 0;
        font-family: 'Quark-Light';
        color: #5d5d5d;
        letter-spacing: 0.5px;
        font-size: 16px;
        .endereco{
          p:first-child { 
            font-family: 'Quark-Bold';
            margin: 0;
          }
        }
        .contatos{
          font-family: 'Quark-Bold';
          padding-bottom: 24px;
          p{
            margin: 0;
          }
          #ddd{
            padding-right: 6px; 
            font-family: 'Quark-Light';
            font-size: 12px;
            background: url(../images/telefone.png) center left no-repeat;
            background-size: auto 100%;
            padding-left: 32px;
            display: inline-block;
          }
          #telefone{
            display: inline-block;
          }
          #email{
            background: url(../images/email.png) center left no-repeat;
            background-size: auto 95%;
            padding-left: 32px;
          }
          #site{
            background: url(../images/site.png) center left no-repeat;
            background-size: auto 95%;
            padding-left: 32px;
          }
        }
      }
      #direita{
        #mapa{
          height: 500px;
        }
      }
    }
  }

}